@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply text-purple1 hover:text-purple1-500 dark:text-purple1 dark:hover:text-purple1-400 underline;
}

.highlight {
  @apply bg-purple1-100 dark:bg-purple1-900;
}

.with-border {
  @apply border border-purple1-400 dark:border-purple1-600;
}

.work-entry.current .dot {
  @apply bg-purple1-800 dark:bg-purple1-800;
}

.work-entry:nth-child(odd) {
  @apply self-end pl-12;
}

.work-entry:nth-child(even) {
  @apply self-start pr-12 text-right;
}

.work-entry:nth-child(odd) .dot-bg {
  @apply left-0 -translate-x-2/4;
}

/* Custom Font Families */

/* Webfont: TANBEAUMONT-DISPLAY */
@font-face {
  font-family: 'TAN-BEAUMONT';
  src: url('src/assets/fonts/TAN - BEAUMONT.woff2 copy') format('woff2'),
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('src/assets/fonts/PlayfairDisplay-Italic-VariableFont_wght copy.ttf') format('truetype'),
}
